.sys-key-points-item--img_des {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.sys-key-points-item--img_mb {
    display: block;
    aspect-ratio: 209/223;

    @media (min-width: 768px) {
        display: none;
    }
}

@media screen and (max-width: 749px) {
    .sys-key-points__text-mobile--left {
        align-items: flex-start;
        text-align: left;
    }

    .sys-key-points__text-mobile--right {
        align-items: flex-end;
        text-align: right;
    }

    .sys-key-points__text-mobile--center {
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 750px) {
    .sys-key-points__text--left {
        align-items: flex-start;
        text-align: left;
    }

    .sys-key-points__text--right {
        align-items: flex-end;
        text-align: right;
    }

    .sys-key-points__text--center {
        align-items: center;
        text-align: center;
    }
}


.sys-key-points--text-wrapper {
    margin-top: 18px;
    position: relative;


    @media (min-width: 768px) {
        margin-top: 14px;
        left: 0;
    }

    .text-title {
        line-height: 22px;
        display: block;
        font-weight: 350;
        text-decoration: none;

        @media (min-width: 768px) {
            line-height: 32px;
            font-weight: 400;
            font-family: var(--font-heading-family);
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
}

.sys-key-points--text-wrapper-description {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    position: relative;
    line-height: 20px;

    p {
        margin: 0;
    }

    @media (min-width: 768px) {
        left: 0;
    }

}

.sys-key-points-wrapper {
    gap: 3px;
}

@media (min-width: 768px) {
    .sys-key-points-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        &.wrapper-3-items {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        &.wrapper-4-items {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}